<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SE_Repository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SE_Repository.Properties.Settings.SP_SEConnectionString"
            connectionString="Data Source=GEORGEMAIN;Initial Catalog=SP_SE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <SE_Repository.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
        </SE_Repository.Properties.Settings>
    </userSettings>
</configuration>